<h1>New team:</h1>
<form action="/team/new" method="POST">
  <label for="teamname"
    >Team name: <input type="text" name="teamname" id="teamname"
  /></label>
  <button type="submit">Submit</button>
</form>
