<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>Teams</title>
  </head>
  <body>
    <%- include('navBar'); %>
    <div class="container">
      <div class="content">
        <div class="teams">
          <% if (locals.teams) { %>
          <h1>Teams:</h1>
          <% for (const team of teams) { %>
          <ul>
            <li>
              <a class="team" href="/team/<%= team.teamid %>"
                ><%= team.teamname %></a
              >
            </li>
          </ul>
          <% } %> <% } %>
        </div>
        <%- include('createTeamForm'); %>
      </div>
    </div>
  </body>
</html>
