nav ul {
  list-style-type: none;
  display: flex;
  gap: 10px;
  padding: 10px 20px 0;
  margin: 0;
  font-size: 1.5rem;
}

a,
a:visited {
  text-decoration: none;
  color: rgb(93, 148, 11);
}

.team,
.team:visited {
  color: black;
}

.content {
  width: 400px;
}

.list-container {
  margin-bottom: 50px;
}

.container {
  display: flex;
  justify-content: center;
}

.list-container ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-container li {
  border: solid 1px black;
  border-radius: 5px;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 300px;
  font-size: 1.2rem;
}

label {
  font-size: 1.2rem;
}

button,
input[type="text"],
select {
  font-size: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  gap: 10px;
}

button[type="submit"] {
  align-self: last baseline;
}
